/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #FF8CBA, #8CD3FF);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
  color: #fff;
  overflow-x: hidden;
}

/* Header styles */
header {
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* Navigation styles */
nav {
  margin-top: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff9900;
}

/* Hero banner styles */
.banner {
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h2 {
  font-size: 2.5em;
}

/* Jumbotron */
.jumbotron {
  padding: 50px;
  text-align: center;
}

.myButton {
	box-shadow:inset 1px 1px 1px 1px #f5f5f5;
	background-color:rgb(69, 66, 66);
	border-radius:3cm;
	border:1px solid #c9c9c9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.profile-image {
  border-radius: 50%;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Main content styles */
.page-wrapper {
  padding: 2rem;
}

.page-section {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-image {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.work-image:hover {
  transform: scale(1.1); 
}

/* Contact section styles */
.contact {
  background-color: transparent;
  color: #fff;
  text-align: center;
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 1rem;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.social-icons a:hover {
  color: #ff9900;
}
